@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@keyframes surgir{
    0%{opacity: 0%;}
    25%{opacity: 0%;}
    50%{opacity: 50%;}
    100%{opacity: 100%;}
}



*{
    user-select: none;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"width" 100;
}
@media (min-width:1025px){
    body{
        overflow: hidden;
        background-color: rgb(247, 247, 247);
        margin: 0px;
        border: none;
    }
    #galeria{
        position: absolute;
        top: 10vh;
        left: 15vw;
        width: 85vw;
        z-index: 0;
    }
    #img_1{
        cursor: pointer;
        width: 45vw;
        height: 60vh;
        object-fit: cover;
    }
    #img_2{
        margin-left: 0.5vw;
        width: 28vw;
        height: 60vh;
        object-fit: cover;
        cursor: pointer;
    }    
    #img_3{
        text-align: center;
        object-fit: cover;
        margin-left: 28.9vw;
        margin-top: 1.25vh;
        width: 45vw;
        height: 15vh;
        object-fit: cover;
        filter:brightness(60%);
        cursor: pointer;

    }
    #bt_fotos{
        cursor: pointer;
        z-index: 1;
        font-size:2vw;
        color: white;
        position: absolute;
        top: 75vh;
        left:58vw;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* descrição */
    #titulos{
        width: 20vw;
        position: absolute;
        top: 68vh;
        left: 18vw;
    }
    #ti{
        margin-top: 3vh;
        font-size: 1.5vw;
        margin-bottom: 0pc;
        text-transform: uppercase;
        font-weight: bold; 
    }
    #resumo{
        font-size: 1.2vw;
        margin-top: 0.1vh;
        font-weight: bold; 
        color: rgba(0, 0, 0, 0.753);
    }
    /* parte cima */
    #tpc{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2vw;
        color: black;
        margin-top: 2vh;
        text-align: center;
    }
    #barra{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 50vw;
        height: 12vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .icons{
        font-size: 1.2vw;
        margin-left: 1vw;
        margin-top: 5vh;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }
    .icons:active{
        color: rgba(0, 0, 0, 0.568);
        text-decoration: none;
    }
    .icons:hover{
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.836);
    }

    /* parte do painel */
    .tela_preta1{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.582);
        position: absolute;
        top: 0px;
        z-index: 1;
    }
    .tela_preta0{
        background-color: transparent;

    }
    .painel_1{
        animation: surgir 0.35s;
        position: absolute;
        top: 2vh;
        left: 2vw;
        width: 96vw;
        height: 96vh;
        z-index: 2;
        background-color: rgb(247, 247, 247);
        box-shadow: 0px 0px 0.4vh black;
        border-radius:1.4vh;
        text-align: center;
    }
    .painel_0{
        display: none;
    }
    
    /* imagens do painel */
    #imgs_gg{
        box-shadow: 0px 0px 0.2vh black;
        background-color: rgb(255, 255, 255);
        width: 45vw;
        height: 63vh;
        margin-top: 12vh;
        object-fit: cover;
        border-radius: 1vh;
    }
    .passar_voltar{
        cursor: pointer;
        font-family: 'Nunito', sans-serif;
        font-weight: 100;      
        color: rgba(0, 0, 0, 0.705);
        font-size:2vw;
        width: 3vw;
        height: 3vw;
        text-align: center;
        border-radius: 100%;
        border: 0.2vh rgba(0, 0, 0, 0.527) solid;
        margin: 0px;
        line-height: 3vw; 
    }
    #bt_passa{
        position: absolute;
        top: 40vh;
        right: 5vw;
    }
    #bt_volta{
        position: absolute;
        top: 40vh;
        left: 5vw;
    }
    #bt_fechar{
        font-family: 'Nunito', sans-serif;
        font-weight: 100;      
        font-size:1.3vw;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        position: absolute;
        top: 1vh;
        right: 2vw;
        width: 10vw;
        height: 6vh;
        line-height: 3vw;
        border-radius:0.5vw;
        background-color: transparent;
        cursor: pointer;
    }
    #bt_fechar:hover{
        background-color: rgba(0, 0, 0, 0.089);

    }
    #text_numeral{
        font-size: 1.5vw;
        font-weight: bold;
        position: absolute;
        top: 1vh;
        left: 47vw;
    }
}

@media (max-width:1024px) {
    body{
        background-color: white;
        border: none;
        margin: 0px;
        overflow: hidden;
    }

    /* Parte inicial */

    #galeria{
        position: absolute;
        top:  20vh;
        left: 5vw;
        display: flex;
        width: 90vw;
        height: 70vh;
        gap: 2vw;
        flex-direction: row;
    }
    #img_1{
        border-radius: 0.5vw;
        width: 50vw;
        height: 40vh;
        object-fit: cover;
        cursor: pointer;
    }
    #img_2{
        border-radius: 0.5vw;
        width: 38vw;
        height: 40vh;
        cursor: pointer;
        object-fit: cover;

    }
    #img_3{
        border-radius: 0.5vw;
        position: absolute;
        top: 41vh;
        width: 90vw;
        height: 15vh;
        object-fit: cover;
        filter: brightness(60%);
        cursor: pointer;
    }
    #bt_fotos{
        text-align: center;
        position: absolute;
        left: 5vw;
        top: 58.8vh;
        height: 15vh;
        width: 90vw;
        font-size: 4.5vw;
        z-index: 1;
        color: white;
        line-height: 15vh;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
    #titulos{
        text-align: center;
        position: absolute;
        top: 76vh;
        left: 15vw;
        width: 70vw;

    }
    #ti{
        margin-left: 0vw;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 3vh;
        margin-bottom: 0px;
    }
    #resumo{
        margin-top: 0px;
        font-size: 2vh;
        color: rgba(0, 0, 0, 0.753);
    }


    /*  Parte painel */
    .tela_preta1{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.582);
        position: absolute;
        top: 0pc;
        z-index: 2;
    }
    .painel_1{
        animation: surigir 0.35s;
        width: 94vw;
        height: 94vh;
        background-color: rgb(241, 241, 241);
        margin: auto;
        position: absolute;
        top: 3vh;
        left: 3vw;
        z-index: 3;
        box-shadow: 0px 0px 1vw black;
        border-radius: 1vh;
    }
    .painel_0{
        display: none;
    }
    #text_numeral{
        text-align: center;
        margin-top: 10vh;
    }
    #bt_fechar{
        font-family: 'Nunito', sans-serif;
        font-weight: 100;
        height: 8vh;
        width: 40vw;
        border-radius: 2vw;
        text-align: center;
        line-height: 8vh;  
        text-transform: uppercase;   
        position: absolute;
        top: 0vh;
        right: 1vw;
    }
    #bt_fechar:hover{
        background-color: rgba(0, 0, 0, 0.089);
    }
    #bt_fechar:active{
        background-color: rgba(0, 0, 0, 0.089);
    }

    #imgs_gg{
        position: absolute;
        top: 20vh;
        width: 94vw;
        height: 50vh;
        object-fit: cover;
        box-shadow: 0px 0px 1vw black;
    }
    .passar_voltar{
        font-family: 'Nunito', sans-serif;
        font-weight: 100;      
        position: absolute;
        top: 15vh;
        line-height: 50vh;
        height: 50vh;
        width: 47vw;
        font-size: 10vw;
        color: white;
        text-shadow: 0px 0px 1vw black;
        cursor: pointer;
        user-select: none;
    }
    #bt_passa{
        right: 1vw;
        text-align: right;
    }
    #bt_volta{
        left: 1vw;
        text-align: left;
    }
    /* Parte barra de cima */
    #barra{
        display: none;
    }
    #tpc{
        font-size: 6vw;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        margin-top: 11vh;
    }
}