@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    user-select: none;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:"width" 100;
}

@keyframes entrar{
    0%{transform: translateX(100%);}
    20%{transform: translateX(80%);}
    40%{transform: translateX(60%);}
    60%{transform: translateX(40%);}
    80%{transform: translateX(20%);}
    100%{transform: translateX(0%);}
}
@keyframes sair{
    0%{transform: translateX(0%);}
    20%{transform: translateX(20%);}
    40%{transform: translateX(40%);}
    60%{transform: translateX(60%);}
    80%{transform: translateX(80%);}
    100%{transform: translateX(100%);}
    
}


@media (min-width: 1025px){
    #bt_barra{
        display: none;
    }
    body{
        overflow: hidden;
        margin: 0pc;
        border:none;
        background-color: white;
    }
    #titulos{
        position: absolute;
        top: 10vh;
        left: 10vw;
        text-transform: uppercase;
        font-size: 3.5vw;
    }
    #t1{
        font-weight: bold;
        margin-left: 15vw;
        margin-bottom: 0pc;
    }
    #t2{
        font-weight: bold;
        margin-top: 0px;
    }
    #subtitulo{
        color: rgba(0, 0, 0, 0.753);
        width: 30vw;
        position: absolute;
        top: 47vh;
        left: 10.5vw;
        font-size:1vw;
        font-weight: bold;
    }
    #fundo{
        height: 125vh;
        position: absolute;
        bottom: -28vh;
        left: 25vw;
    }
    /* barra */
    #barra{
        z-index: 1;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 50vw;
        height: 12vh;
        background-color:white;
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .icons{
        font-size: 1.2vw;
        margin-left: 1vw;
        margin-top: 5vh;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }
    .icons:active{
        color: rgba(0, 0, 0, 0.568);
        text-decoration: none;
    }
    .icons:hover{
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.836);
    }
    /* escolas */
    #bt_escolas{
        font-size: 1.5vw;
        line-height: 10vh;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        width: 15vw;
        height: 10vh;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 12vh;
        left: 50vw;
    }
}
@media (max-width:1024px){
    body{
        overflow: hidden;
        border: none;
        margin: 0px;
    }
    /* parte do folder */
    #fundo{
        position: absolute;
        top: 3vh;
        right: -35vw;
        height: 70vh;      
        object-fit: cover;  
    }
    #titulos{
        text-shadow: 0px 0px 0.3vw black;
        position: absolute;
        left: 10vw;
        top: 5vh;
        text-transform: uppercase;
        font-size: 5vw;
    }
    #t1{
        font-weight: bold;
        margin-left:20vw;
        margin-bottom: 0pc;
    }
    #t2{
        font-weight: bold;
        margin-top: 0px;
    }
    /* parte da barra */
    #bt_barra{
        cursor: pointer;
        position: absolute;
        font-size: 10vw;
        top: 0vh;
        right: 1vw;
        margin:0px;
        z-index: 4;
        animation: color 2s;
    }
    
    #barra{
        transform: translateX(100%);
        position: absolute;
        top: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        width:100vw;
        height: 100vh;
        background-color: black;
        justify-content: space-between;
        z-index: 3;
        padding: 5vh;
        box-sizing: border-box;
        box-shadow: 0px 0px 1vw black;
    }
    .barra_0{
        animation: sair 0.3s;
    }
    .barra_1{
        animation: entrar 0.3s;
    }
    .icons{
        margin: auto;
        width: 40vw;
        font-size: 2vh;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
    }
    .icons:hover{
        color: rgba(255, 255, 255, 0.582);
    }
    /* parte de baixo */
    #subtitulo{
        z-index: 1;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100vw;
        height: 50vh;
        background-color: black;
        color: white;
    }
    #t3{
        margin: auto;
        margin-top:13vh;
        font-size: 5vw;
        width: 80vw;
        text-transform: uppercase;
        font-weight: bold;
    }
    #bt_escolas{
        font-size: 4vw;
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        text-decoration: none;
        top: 40vh;
        width: 25vw;
        height: 30vh;
        background-color: black;
        color: white;
        line-height: 10vh;
        text-align: center;
    }
}