@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    overflow: hidden;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
@media (min-width: 1025px){
    .mobile{
        display: none;
    }
    #escolas{
        position: absolute;
        bottom: 10vh;
        left: 52vw;
        width: 8vw;
        height: 8vh;
        background-color: #000000;
        color: white;
        text-align: center;
    }
}
body{
    background-color:#F5F5F5;
    border: none;
    margin: 0pc;
}
#logo{
    width: 4vw;
    height: 4vw;
    border-radius: 100%;
    position: absolute;
    top: 2vh;
    left: 3vw;
}
#text_escolas{
    cursor: pointer;
    font-size: 1vw;
    margin: auto;
    margin-top: 2.3vh;
    text-transform: uppercase;
    font-weight: bold;

}
#text_escolas:hover{
    color: #c8c8c8;
    transition: color 0.2s;
}
#text_escolas:active{
    color: #2d2d2d;
}
#barra{
    position: absolute;
    bottom: 0pc;
    left: 0pc;
    background-color: rgb(255, 255, 255);
    width: 52vw;
    height: 10vh;
    color: #000000;
    font-size: 1vw;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
}
.abas{
    margin-top: 4vh;
    text-transform: uppercase;
    margin-left: 3vw;
    font-weight: bold;
    cursor: pointer;
}
.abas:hover{
    transition: color 0.2s;
    text-decoration: underline;
    color: #888888;

}
.abas:active{
    color: #2d2d2d;
}
#titulo{
    width: 50vw;
    height: 35vh;
    position: absolute;
    left: 8vw;
    top: 12vh;
    font-weight: bold;
}
#titulo1{
    font-size: 4vw;
    margin-bottom: 0pc;
    margin-left: 12vw;
}#titulo2{
    font-size: 4vw;
    margin-top: 0pc;
    margin-bottom: 0px;
}
#fundo{
    margin-top: 10vh;
    margin-left: 40vw;
    width: 55vw;
    object-fit: cover;
}
#objetivo{
    position: absolute;
    top:55vh;
    left: 9vw;
    width: 35vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
.objetivo_cima{
    font-size: 1vw;
    font-weight: bold;
}
#numero{
    margin-left: 2vw;
}
#sobre{
    margin-left: 4vw;
}
#ceta{
    width: 7vw;
    height: 0.5vh;
    background-color: #000000;
    margin-left: 3vw;
    margin-top: 3vh;
}
#sobre_txt{
    font-size: 1vw;
    position: absolute;
    top: 59vh;
    left: 13vw;
    width: 18vw;
    background-color: transparent;
    color: #545454;   
}

 /* Ajustes para dispositivos Tablet */
@media (max-width: 1024px) {
    #fundo{
        position: absolute;
        top: 10vh;
    }
    #tela{
        width: 100vw;
        height: 100vh;
        margin: 0px;
    }
    #logo{
        position: absolute;
        top: 1.5vw;
        left: 45vw;
        width: 10vw;
        height: 10vw;
        object-fit: cover;
        border-radius: 100%;
    }
    #barra{
      display: none;
    }
    #paginas{
        margin: auto;
        position: absolute;
        top: 0px;
    }
    #button{
        width: 10vw;
        height: 5vh;
        cursor: pointer;
        font-size: 7vw;
        position: absolute;
        top: 1vh;
        left: 2vw;
        margin-bottom: 0pc;
        z-index: 5;
    }
    #button:active{
        color: #545454;
    }
    #paginas{
        display:none; 
        flex-direction: column;
        position: fixed;
        top: 0pc;
        width: 30vw;
        height: 45vh;
        background-color: #e9e8e8;
        color: #000000;
        text-align: center;
        z-index: 2;
        border-bottom-right-radius: 1vw;
        font-size: 3vw;
    }
    #titulo{
        z-index: 1;
        position: absolute;
        left: 7vw;
        top: 15vh;
    }
    #titulo1,#titulo2{
        font-size: 7vw;
    }
    #objetivo{
        width: 80vw;
        position: absolute;
        top: 45vh;
        left: 15vw;
    }
    #numero,#sobre{
        font-size: 7vw;
    }
    #ceta{
        margin-top: 6vh;
        width: 20vw;
    }
    #sobre_txt{
        position: absolute;
        top: 52vh;
        left: 15vw;
        font-size: 2vh;
        width: 60vw;
    }
    #escolas{
        background-color: #000000;
        width: 50vw;
        height: 8vh;
        color: #F5F5F5;
        text-align: center;
        position: absolute;
        top: 80vh;
        left: 20vw;
    }
    #text_escolas{
        font-size: 4vw;
    }
}
/* ajustes para celular */
@media (max-width: 768px) {
    #titulo1,#titulo2{
        font-size: 8vw;
    } 
    #objetivo{
        position: absolute;
    }
}